<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/style.css">
</head>

<body>
    <header>
        <div class="background-image"></div>
        <div class="logo">Dashboard</div>

        <div class="user-details">
            <h2>Welcome, {{ user['username'] }}!</h2>
            <p><strong>Email:</strong> {{ user['email'] }}</p>
            <p><strong>Status:</strong> {{ user['registration_status'] }}</p>
            <!-- Assuming you have 'role' column in the DB -->

            <form action="{{ url_for('logout') }}" method="GET">
                <button type="submit" class="logout-btn">Logout</button>
            </form>
        </div>
    </header>

    <footer>
        <a href="{{ url_for('home') }}">Go to Home</a>
    </footer>
</body>

</html>