<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/styles/style.css"> <!-- Link to your CSS file -->
</head>

<body>
    <header>
        <div class="logo">
            Welcome to the Home Page
        </div>

        <div class="welcome-message">
            <h2>Welcome!</h2>
            <p>Choose an option to continue:</p>
        </div>

        <div class="buttons">
            <a href="/register" class="reg-btn">Register</a>
            <a href="/login" class="user-login-btn">User Login</a>
            <a href="/ad-login" class="admin-login-btn">Admin Login</a>
        </div>
    </header>

    <footer>
        <div class="footer-content">
            <p>© 2024 Home Page. All rights reserved.</p>
        </div>
    </footer>

</body>

</html>